




.body{
    font-family: "Geist", sans-serif;
    width: 40%;

    margin: 0 auto;
    border: 1px solid red;
    border-radius: 8px;
    box-shadow:gray;
    /* background-color: rgb(245, 243, 243); */
}
.header{
    justify-self: center;
}